#Experiences {
  height: 100vh;
  font-size: 20px;

  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

#Experiences > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table {
  display: flex;
}
.left-section {
  max-width: 300px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.right-section {
  max-width: 750px;
  color: #000;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.4);
  border: 5px solid #5E60CE;
  border-radius: 10px;
  padding: 30px;
  height: 400px;
}

.ex-btn {
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

hr {
  visibility: hidden;
}
.hr {
  visibility: visible;
  background-color: #5E60CE;
  border: none;
  width: 80px;
  height: 5px;
}
.active {
  color: #000;
  font-weight: 600;
}

.desc {
  text-align: left;
}