#Experiences {
  height: 100vh;
  font-size: 20px;

  font-family: 'Open Sans', sans-serif;
}

.table {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.left-section {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.right-section {
  width: 50%;
  color: #fff;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.3);
  border: 5px solid #ECA978;
  border-radius: 10px;
  padding: 20px;
  margin-left: 10px;
  height: 400px;
}

.ex-btn {
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
}

hr {
  visibility: hidden;
}
.hr {
  visibility: visible;
  background-color: #ECA978;
  border: none;
  width: 80px;
  height: 5px;
}
.active {
  color: #fff;
  font-weight: 600;
}

.desc {
  text-align: left;
}