.App {
  overflow-x: hidden;
  width: 100vw;
}

#About, 
#Experiences, 
#Projects {
  padding: 0 100px;

  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 40px;
  font-family: 'Overpass Mono', monospace;
  margin: 100px 0 20px;
}