#Home {
  width: 100vw;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
}

.home-text {
  font-family: 'Overpass Mono', monospace;
  margin: 150px;
  font-size: 45px;
  width: 50%;
}

.home-text p:nth-child(3) {
  font-size: 25px;

}