#Contact {
  height: 100px;
  padding: 0 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(7, 160, 195, 0.8);
}

#Contact div {
  display: flex;
}

#Contact span {
  font-family: 'Overpass mono', monospace;
}
.contact-links {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.contact-links img {
  width: 100%;
}