.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 80px;
  background-color: rgb(7, 160, 195, 0.6);
  top: 0;
  left: 0;
  right: 0;
  padding: 0 100px;
  overflow-x: hidden;

  font-size: 22px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.Navbar a {
  padding: 5px;
  color: #000;
}

.resume {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}